/*MAP*/
#map {
    height: 300px;
}

/*LOGIN DIV*/
div.login-div {
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

body {
    background-color: #e9ece5;
}

/*HOMEPAGE BACKGROUND IMAGE*/
.homepage-container-div {
    background-image: url("/static/spent-background.jpg");
    background-size: 100%;
}

/*PANEL HEADINGS*/
.panel > .panel-heading {
    background-image: none;
    background-color: ##3b3a36;
    color: #5a5c51;

}

/*REMOVES ROUNDED EDGES*/
* {
  border-radius: 0 !important;
}

/*REMOVES PANEL DROP SHADOW*/
.panel {
    border: 0;
}

/*REMOVES PANEL DROP SHADOW*/
.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

/*ADD DROP SHADOW*/
/*.panel-default {
    box-shadow: 5px 5px;
    color: #5a5c51;
}*/

/*LINK COLORS*/
a {
color: #9fa8a3 !important;
}
/*END OF LINK COLORS*/

/*FORM FOCUS*/
.form-control:focus {
  border-color: #c0dfd9;
  box-shadow: inset 0 1px 1px #c0dfd9, 0 0 8px #c0dfd9;
}

/*BUTTONS*/
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #9fa8a3;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #c0dfd9;
}

.btn-primary:active, .btn-primary.active {
    background: #9fa8a3;
    box-shadow: none;
}
/*END BUTTONS*/

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }