#map {
    height: 300px;
}

div.login-div {
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

