#map {
    height: 300px;
}

div.login-div {
    margin: 0;
    /*background: yellow;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

body {
    background-color: #e9ece5;
    /*background-image: url("/static/pexels-photo.jpg");
    background-size: 100%;*/
}

.panel > .panel-heading {
    background-image: none;
    background-color: #000000;
    color: white;

}

/*REMOVES ROUNDED EDGES*/
* {
  border-radius: 0 !important;
}

/*REMOVES PANEL DROP SHADOW*/
.panel {
    border: 0;
}

/*REMOVES PANEL DROP SHADOW*/
.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}

/*ADD DROP SHADOW*/
.panel-default {
    box-shadow: 5px 5px;
    color: #000000;
}