<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spent</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style -->
    <link href="/static/style.css" rel="stylesheet"></link>
    <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
    <!-- Javascript Imports -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <!-- FAVICON -->
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'/ >


    {% block headerstuff %}

    {% endblock %}


</head>

{% block content %}

{% endblock %}

<script src="/static/bootstrap-3.3.6/js/bootstrap.min.js"></script>
</html>