{% extends 'base.html' %}
{% block content %}

<body>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spent</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <!--   <input type="text" class="form-control" placeholder="Search"> -->
        </div>
      <!--   <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#" data-toggle="modal" data-target="#editProfile" id="edit-profile-account">Account</a></li>

        <!-- MODAL -->
        <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Profile Information</h4>
        </div>

        <div class="modal-body">

                <p>
                    <b>Your name:</b> {{name}}<br>
                    <b>Your email:</b> {{email}}<br>
                </p>

            <form action="/profile-edit" method="POST" id="form-profile-edit">

                <fieldset class="form-group">
                <!-- <label for="name">New name</label> -->
                <div class="inner-addon left-addon">
                  <i class="glyphicon glyphicon-user"></i>
                    <input type="text" class="form-control" id="profile-name" placeholder="Edit your name" name="profile-name">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="inner-addon left-addon">
                  <i class="glyphicon glyphicon-envelope"></i>
                    <input type="text" class="form-control" id="profile-email" placeholder="Add a new email" name="profile-email">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                <div class="inner-addon left-addon">
                  <i class="glyphicon glyphicon-lock"></i>
                    <input type="password" class="form-control" id="new-password" placeholder="Add a new password" name="new-password">
                  </div>
                </fieldset>
                <!-- <button type="submit" class="btn btn-primary">Submit</button>
                </form> -->

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div><!-- END OF MODAL -->

        <li><a href="/logout" id="sign-out">Sign Out</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="row-fluid"><!-- DIV FOR COLUMNS -->
    <div class="col-md-6"><!-- FIRST COLUMN DIV -->

        <div class="panel panel-default"><!-- FIRST PANEL DIV -->
            <div class="panel-heading">
                <h3 class="panel-title">AVERAGE SPENT OVER THE LAST 30 DAYS</h3>
            </div>
            <div class="panel-body">

                    <!-- Charts -->
                    <p>

                        <div class="expenditure-chart">
                            <canvas id="barChart"></canvas>
                            <div id="barLegend" class="chart-legend"></div>
                        </div>

                    </p>
            </div><!-- end test panels -->
        </div>

        <div class="panel panel-default"><!-- FIRST COLUMN SECOND PANEL -->
            <div class="panel-heading">
              <h3 class="panel-title">TOTAL SPENT OVER THE LAST 30 DAYS</h3>
            </div>
            <div class="panel-body">

                <div class="expenditure-chart">
                    <canvas id="donutChart"></canvas>
                   <!--  <div id="donutLegend" class="chart-legend"></div> -->
                </div>

            </div>
        </div><!-- END FIRST COLUMN SECOND PANEL -->

                <div class="panel panel-default"><!-- TOTAL SPENT TABLE PANEL -->
            <!-- Default panel contents -->
            <div class="panel-heading"><b>TOTAL SPENT</b></div>

                <!-- Table -->
                <table class="table">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Total Spent</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Clothing</th>
                          <td>$<span id="total-spent-5">{{ total_clothing_price }}</span></td>
                          <td>{{ cat_5_start_date }}</td>
                          <td>{{ cat_5_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Entertainment</th>
                          <td>$<span id="total-spent-6">{{ total_entertainment_price }}</span></td>
                          <td>{{ cat_6_start_date }}</td>
                          <td>{{ cat_6_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Food</th>
                          <td>$<span id="total-spent-3">{{ total_food_price }}</span></td>
                          <td>{{ cat_3_start_date }}</td>
                          <td>{{ cat_3_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Groceries</th>
                          <td>$<span id="total-spent-4">{{ total_groceries_price }}</span></td>
                          <td>{{ cat_4_start_date }}</td>
                          <td>{{ cat_4_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Online Purchases</th>
                          <td>$<span id="total-spent-1">{{ total_online_purchase_price }}</span></td>
                          <td>{{ cat_1_start_date }}</td>
                          <td>{{ cat_1_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Travel</th>
                          <td>$<span id="total-spent-2">{{ total_travel_price }}</span></td>
                          <td>{{ cat_2_start_date }}</td>
                          <td>{{ cat_2_end_date }}</td>
                        </tr>
                      </tbody>
                    </table>

                                    </table>

        </div><!-- END TOTAL SPENT TABLE PANEL -->

        <div class="panel panel-default"><!-- AVERAGE SPENT TABLE PANEL -->
            <!-- Default panel contents -->
            <div class="panel-heading"><b>AVERAGE SPENT</b></div>

                <!-- Table -->
                <table class="table">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Average Spent</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Clothing</th>
                          <td>$<span id="avg-5">{{ avg_clothing_expenditures }}</span></td>
                          <td>{{ cat_5_start_date }}</td>
                          <td>{{ cat_5_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Entertainment</th>
                          <td>$<span id="avg-6">{{ avg_entertainment_expenditures }}</span></td>
                          <td>{{ cat_6_start_date }}</td>
                          <td>{{ cat_6_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Food</th>
                          <td>$<span id="avg-3">{{ avg_food_expenditures }}</span></td>
                          <td>{{ cat_3_start_date }}</td>
                          <td>{{ cat_3_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Groceries</th>
                          <td>$<span id="avg-4">{{ avg_groceries_expenditures }}</span></td>
                          <td>{{ cat_4_start_date }}</td>
                          <td>{{ cat_4_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Online Purchases</th>
                          <td>$<span id="avg-1">{{ avg_online_expenditures }}</span></td>
                          <td>{{ cat_1_start_date }}</td>
                          <td>{{ cat_1_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Travel</th>
                          <td>$<span id="avg-2">{{ avg_travel_expenditures }}</span></td>
                          <td>{{ cat_2_start_date }}</td>
                          <td>{{ cat_2_end_date }}</td>
                        </tr>
                      </tbody>
                    </table>

                                    </table>

        </div><!-- END AVERAGE SPENT TABLE PANEL -->



    </div><!-- END FIRST COLUMN DIV -->


    <div class="col-md-6"><!-- SECOND BOOTSTRAP COLUMN -->


        <div class="panel panel-default"><!-- BUDGET TABLE PANEL -->
            <!-- Default panel contents -->
            <div class="panel-heading">

              <h3 class="panel-title">BUDGET</h3>

                <a href="#" data-toggle="modal" data-target="#addBudget" id="add-budget">Add Budget</a>

            </div>

        <!-- ADD BUDGET MODAL -->
        <div class="modal fade" id="addBudget" tabindex="-1" role="dialog" aria-labelledby="addBudgetModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addBudgetModalLabel">Add Budget</h4>
        </div>

        <div class="modal-body">

                <form action="/add-budget" method="POST" id="budget-form">
            <fieldset class="form-group">
            <label for="category">Category</label>
                 <select name="category" class="form-control" id="category-field-budget">
                    <option value="3">Food</option>
                    <option value="2">Travel</option>
                    <option value="1">Online Purchase</option>
                    <option value="5">Clothing</option>
                    <option value="4">Groceries</option>
                    <option value="6">Entertainment</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
            <label for="price">Budget</label>
                <input type="text" class="form-control" id="budget" placeholder="Enter budget" name="budget">
            </fieldset>
            <fieldset class="form-group">
            <label for="date">Start Date</label>
                <input type="date" class="form-control" id="start-date" name="start-date">
            </fieldset>
            <fieldset class="form-group">
            <label for="date">End Date</label>
                <input type="date" class="form-control" id="end-date" name="end-date">
            </fieldset>

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="budget-submit">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div><!-- END OF NEW BUDGET MODAL -->

                <!-- Table -->
                <table class="table">

                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Budget</th>
                          <th>Budget Remaining</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Clothing</th>
                          <td>$<span id="budget-5">{{ cat_5_budget }}</span></td>
                          <td>$<span id="budget-left-5">{{ clothing_budget_minus_expenses }}</span></td>
                          <td>{{ cat_5_start_date }}</td>
                          <td>{{ cat_5_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Entertainment</th>
                          <td>$<span id="budget-6">{{ cat_6_budget }}</span></td>
                          <td>$<span id="budget-left-6">{{ entertainment_budget_minus_expenses }}</span></td>
                          <td>{{ cat_6_start_date }}</td>
                          <td>{{ cat_6_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Food</th>
                          <td>$<span id="budget-3">{{ cat_3_budget }}</span></td>
                          <td>$<span id="budget-left-3">{{ food_budget_minus_expenses }}</span></td>
                          <td>{{ cat_3_start_date }}</td>
                          <td>{{ cat_3_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Groceries</th>
                          <td>$<span id="budget-4">{{ cat_4_budget }}</span></td>
                          <td>$<span id="budget-left-4">{{ groceries_budget_minus_expenses }}</span></td>
                          <td>{{ cat_4_start_date }}</td>
                          <td>{{ cat_4_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Online Purchases</th>
                          <td>$<span id="budget-1">{{ cat_1_budget }}</span></td>
                          <td>$<span id="budget-left-1">{{ online_budget_minus_expenses }}</span></td>
                          <td>{{ cat_1_start_date }}</td>
                          <td>{{ cat_1_end_date }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Travel</th>
                          <td>$<span id="budget-2">{{ cat_2_budget }}</span></td>
                          <td>$<span id="budget-left-2">{{ travel_budget_minus_expenses }}</span></td>
                          <td>{{ cat_2_start_date }}</td>
                          <td>{{ cat_2_end_date }}</td>
                        </tr>
                      </tbody>
                    </table>

                                    </table><!-- END OF BUDGET TABLE -->

        </div><!-- END BUDGET TABLE PANEL -->

        <div class="panel panel-default"><!-- EXPENDITURE PANEL -->
            <div class="panel-heading">
                <h3 class="panel-title">EXPENDITURES</h3>
                <a href="#" data-toggle="modal" data-target="#addExpenditureModal">Add Expenditure</a>
            </div>
            <!-- <div class="panel-body">
 -->
<!-- Modal -->
<div class="modal fade" id="addExpenditureModal" tabindex="-1" role="dialog" aria-labelledby="addExpenditureModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addExpenditure">Add New Expenditure</h4>
      </div>
      <div class="modal-body">

        <!-- START THE FORM -->
        <form action="/add-expenditure-to-db" method="POST" id="expenditure-form">
            <fieldset class="form-group">
            <label for="category">Category</label>
                 <select name="category-field" class="form-control" id="category-field">
                    <option value="3">Food</option>
                    <option value="2">Travel</option>
                    <option value="1">Online Purchase</option>
                    <option value="5">Clothing</option>
                    <option value="4">Groceries</option>
                    <option value="6">Entertainment</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
            <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
            </fieldset>
            <fieldset class="form-group">
            <label for="where-bought">Where was this purchase?</label>
                <input type="text" class="form-control" id="wherebought" name="wherebought">
            </fieldset>
            <fieldset class="form-group">
            <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date">
            </fieldset>
            <fieldset class="form-group">
            <label for="tracking-num">Tracking Number (Optional)</label>
                <input type="text" class="form-control" id="tracking-num" name="tracking-num">
            </fieldset>
            <fieldset class="form-group">
            <label for="tracking-num-carrier">Carrier (Optional)</label>
                <input type="text" class="form-control" id="tracking-num-carrier" name="carrier">
            </fieldset>
            <fieldset class="form-group">
            <label for="where-bought">Description:</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            </fieldset>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>

    </form><!-- END THE FORM -->

    </div>
    </div>
  </div>
</div><!-- END OF MODAL -->

          <!-- Table -->


                    <table class="table table-striped" id="cats">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Date</th>
                          <th>Place</th>
                          <th>Description</th>
                          <th>Track</th>
                          <th>Remove</th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for expenditure in expenditures %}

                        <tr>
                          <th scope="row">{{ expenditure.category.category }}</th>
                          <td>${{ expenditure.price }}</td>
                          <td>{{ expenditure.date_of_expenditure }}</td>
                          <td>{{ expenditure.where_bought }}</td>
                          <td>{{ expenditure.description }}</td>
                          <td>{% if expenditure.tracking_num %}<form action="/tracking/{{ expenditure.tracking_num }}" method="POST" class="tracking-form"><button type="submit" class="btn btn-lg btn-custom" aria-label="Left Align" data-toggle="modal" data-target="#trackingModal" data-trackingnum="{{expenditure.tracking_num}}">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button></form>{% endif %}</td>
                          <td><form action="/remove-expenditure/{{ expenditure.id }}" method="POST" id="expenditure-{{expenditure.id}}">
                            <button type="submit" class="btn btn-lg btn-custom" aria-label="Left Align">
                            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                            </button>
                            </form></td>
                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>

                    <!-- Modal -->
                <div class="modal fade" id="trackingModal" tabindex="-1" role="dialog" aria-labelledby="trackingModalLabel">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="packageTrackModalLabel">Track Your Package</h4>
                    </div>
                    <div class="modal-body">

                        <table class="table">
                            <thead>
                              <tr>
                                <th>Status</th>
                                <th>Current City</th>
                                <th>Current State</th>
                                <th>Current Zipcode</th>
                                <th>Current Country</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row"><span id="tracking-status"></span></th>
                                <td><span id="tracking-city"></span></td>
                                <td><span id="tracking-state"></span></td>
                                <td><span id="tracking-zipcode"></span></td>
                                <td><span id="tracking-country"></span></td>
                              </tr>
                            </tbody>
                          </table>

                        <div id="map"></div><!-- MAP DIV -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                    </div>
                </div>




            </div><!-- END THE THIRD PANEL DIV -->
        </div><!-- END OF THIRD DIV -->

    </div>

        </div><!-- end the second column div -->


</div><!-- END THE CONTAINER DIV -->

<!-- JAVASCRIPT -->
<script src="/static/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnuRecqKx9vRHOa2X6OeYloFTevfJ9GkA&callback=initMap" async defer></script>
<script src="/static/js/charts.js"></script>
<script src="/static/js/submit-expenditure.js"></script>
<script src="/static/js/submit-budget.js"></script>

</body>

{% endblock %}