{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Dashboard</h2>

    <p>
      Welcome {{name}}<br>
    </p>

    <p>
        Your email: {{email}}
        <br>
        Your password: {{password}}
    </p>

    <p>
        <form action="/edit-profile" method="POST">
            <input type="submit" value="Edit Profile Info">
        </form>
    </p>

    <p>
        Total spent on food: {{ total_food_price }}<br>
        Travel total: {{ total_travel_price }}<br>
        Total clothing: {{ total_clothing_price }}<br>
        Total entertainment: {{ total_entertainment_price }}<br>
        Total online purchase: {{ total_online_purchase_price }}<br>
        Total groceries: {{ total_groceries_price }}<br>
    </p>

    <p>
        Average online purchase price: {{ avg_online_expenditures }}<br>
        Average entertainment purchase price: {{ avg_entertainment_expenditures }}<br>
        Average clothing price: {{ avg_clothing_expenditures }}<br>
        Average travel: {{ avg_travel_expenditures }}<br>
        Average groceries: {{ avg_groceries_expenditures }}<br>
        Average food: {{ avg_food_expenditures }}<br>

    <p>
        <form action="/budget-testing" method="POST">
            <input type="submit">
        </form>

    <p>
        <form action="/chart-test" method="POST">
    <input type="submit" value="Charts">
        </form>
    </p>

    <p>

    <h2>Input Expenditures</h2>

    <form action="/add-expenditure-to-db" method="POST" id="expenditure-form">
    Category:
      <select name="category" class="form-control" id="category-field">
    <option value="3">Food</option>
    <option value="2">Travel</option>
    <option value="1">Online Purchase</option>
    <option value="5">Clothing</option>
    <option value="4">Groceries</option>
    <option value="6">Entertainment</option>
      </select>
    <p><input type="text" id="price" placeholder="Price" name="price" class="form-control"><br>
    <br><input type="date" id="date" placeholder="Date of purchase" name="date" class="form-control"><br>
    <br><input type="text" id="wherebought" placeholder="Where was this purchased?" name="wherebought" class="form-control"><br>
    <br><input type="text" id="description" placeholder="Describe your purchase" name="description" class="form-control"><p>

    <input type="submit" value="Submit">
    </form>

    <script src="/static/js/submit-expenditure.js"></script>

    </p>

    <p>

    <div class="expenditure-chart">
        <canvas id="donutChart"></canvas>
        <div id="donutLegend" class="chart-legend"></div>
    </div>

    <div class="expenditure-chart">
        <canvas id="barChart"></canvas>
        <div id="barLegend" class="chart-legend"></div>
    </div>

    <script>
    var options = {
      responsive: true
    };

    // Make Donut Chart of percent of different types of Melons
    var ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/expenditure-types.json", function (data) {
      var myDonutChart = new Chart(ctx_donut).Doughnut(data.expenditures, options);
      $('#donutLegend').html(myDonutChart.generateLegend());
    });

    // Make Line Chart of Melon Sales over time
    var ctx_line = $("#barChart").get(0).getContext("2d");

    $.get("/total-spent.json", function (data) {
      var myBarChart = new Chart(ctx_line).Bar(data, options);
      $("#BarLegend").html(myBarChart.generateLegend());
    });

    </script>

</div>

    Budget left:<p>

    Food: {{ food_budget_minus_expenses }}<br>
    Travel: {{ travel_budget_minus_expenses }}<br>
    Clothing: {{ clothing_budget_minus_expenses }}<br>
    Entertainment: {{ entertainment_budget_minus_expenses }}<br>
    Online purchases: {{ online_budget_minus_expenses }}<br>
    Groceries: {{ groceries_budget_minus_expenses }}<br>

    </p>

    <p>
        Total spent: {{ total_price }}
    </p>

    <p>
        Budget:<br><p>
        <p>
<div id="budget-div">
    {% for budget in budget %}
    <form action="/remove-budget/{{ budget.id }}" method="POST" id="category-{{budget.category_id}}">

    <li>
        {{ budget.budget }}<br>
        {{ budget.category.category }}<br>
    </li>
        <input type="Submit" value="Remove">
    </form>

    {% endfor %}
</div>




        <h2>Budget</h2>

    <form action="/add-budget" method="POST" id="budget-form">
      Category:
      <select name="category" id="category-field">
    <option value="3">Food</option>
    <option value="2">Travel</option>
    <option value="1">Online Purchase</option>
    <option value="5">Clothing</option>
    <option value="4">Groceries</option>
    <option value="6">Entertainment</option>
      </select>
    <p>Budget:
      <input type="text" id="budget" placeholder="Add your budget" name="budget"><p>

    <input type="submit" value="Submit" id="budget-submit">
    </form>

    <p>
        <form action="/budget-form" method="POST">
            <input type="submit" value="Add Budget">
        </form>

    <script src="/static/js/submit-budget.js"></script>

    <ul>

      {% for expenditure in expenditures %}
      <form action="/remove-expenditure/{{ expenditure.id }}" method="POST">
      <li>
        {{ expenditure.date_of_expenditure }}: <br>
        {{ expenditure.category.category }}<br>
        {{ expenditure.price }}<br>
        {{ expenditure.where_bought }}<br>
        {{ expenditure.description }}<br>

            <input type="Submit" value="Remove">
        </form>

      </li>
      {% endfor %}
    </ul>


    <p>
        <form action="/logout" method="POST">
            <input type="submit" value="Log Out">
        </form>


{% endblock %}