{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Spent</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <!--   <input type="text" class="form-control" placeholder="Search"> -->
        </div>
      <!--   <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#" data-toggle="modal" data-target="#editProfile" id="edit-profile-account">Account</a></li>

        <!-- MODAL -->
        <div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="editProfileModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Profile Information</h4>
        </div>

        <div class="modal-body">

                <p>
                    <b>Your name:</b> {{name}}<br>
                    <b>Your email:</b> {{email}}<br>
                </p>

            <form action="/profile-edit" method="POST" id="form-profile-edit">
                <fieldset class="form-group">
                <label for="name">New name</label>
                    <input type="text" class="form-control" id="profile-name" placeholder="Edit your name" name="profile-name">
                </fieldset>
                <fieldset class="form-group">
                <label for="email">New email</label>
                    <input type="text" class="form-control" id="profile-email" placeholder="Add a new email" name="profile-email">
                </fieldset>
                <fieldset class="form-group">
                <label for="password">New password</label>
                    <input type="password" class="form-control" id="new-password" placeholder="Add a new password" name="new-password">
                </fieldset>
                <!-- <button type="submit" class="btn btn-primary">Submit</button>
                </form> -->

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div><!-- END OF MODAL -->

        <li><a href="/logout" id="sign-out">Sign Out</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="row-fluid"><!-- DIV FOR COLUMNS -->
    <div class="col-md-4"><!-- FIRST COLUMN DIV -->

        <div class="panel panel-default"><!-- FIRST PANEL DIV -->
            <div class="panel-heading">
                <h3 class="panel-title">Average Spent Per Category</h3>
            </div>
            <div class="panel-body">

                    <!-- Charts -->
                    <p>

                        <div class="expenditure-chart">
                            <canvas id="barChart"></canvas>
                            <div id="barLegend" class="chart-legend"></div>
                        </div>

                    </p>
            </div><!-- end test panels -->
        </div>

        <div class="panel panel-default"><!-- FIRST COLUMN SECOND PANEL -->
            <div class="panel-heading"><b>Total Spent Per Category</b></div>
            <div class="panel-body">

                <div class="expenditure-chart">
                    <canvas id="donutChart"></canvas>
                    <div id="donutLegend" class="chart-legend"></div>
                </div>

            </div>
        </div><!-- END FIRST COLUMN SECOND PANEL -->

    </div><!-- END FIRST COLUMN DIV -->



    <div class="col-md-4"><!-- SECOND BOOTSTRAP COLUMN -->
        <div class="panel panel-default"><!-- SECOND BOOTSTRAP PANEL -->
            <div class="panel-heading">
                <h3 class="panel-title">Panel 2</h3>
            </div>
            <div class="panel-body"><!--BOOTSTRAP PANEL BODY 2 -->

                <!-- <div id="tracking-div"> --><!-- BEGIN TRACKING DIV -->
                    <!-- <b>Tracking Info:</b><br>
                    <p>
                        <form action="/tracking" method="POST" id="tracking-form">
                            Tracking Number: <input type="text" id="tracking-number" name="tracking-number"><br>
                            Carrier: <input type="text" id="carrier" name="carrier"><br>
                                <input type="submit" value="Submit Tracking Info" id="tracking-submit">
                        </form><br>

                        <span id="tracking-span"></span><br>
                    </p>
                </div> --><!--END TRACKING DIV -->

                <!-- test 9374889676090040179500 usps -->

                <!-- Various metrics -->

                <p>
                    Total spent on food: <span id="total-spent-3">{{ total_food_price }}</span><br>
                    Travel total: <span id="total-spent-2">{{ total_travel_price }}</span><br>
                    Total clothing: <span id="total-spent-5">{{ total_clothing_price }}</span><br>
                    Total entertainment: <span id="total-spent-6">{{ total_entertainment_price }}</span><br>
                    Total online purchase: <span id="total-spent-1">{{ total_online_purchase_price }}</span><br>
                    Total groceries: <span id="total-spent-4">{{ total_groceries_price }}</span><br>
                </p>

                <p>
                    Average online purchase price: <span id="avg-1">{{ avg_online_expenditures }}</span><br>
                    Average entertainment purchase price: <span id="avg-6">{{ avg_entertainment_expenditures }}</span><br>
                    Average clothing price: <span id="avg-5">{{ avg_clothing_expenditures }}</span><br>
                    Average travel: <span id="avg-2">{{ avg_travel_expenditures }}</span><br>
                    Average groceries: <span id="avg-4">{{ avg_groceries_expenditures }}</span><br>
                    Average food: <span id="avg-3">{{ avg_food_expenditures }}</span><br>
                <p>

            </div><!-- END THE SECOND PANEL DIV -->

        </div>

        <div class="panel panel-default"><!-- BUDGET PANEL -->
        <div class="panel-heading"><b>Budget</b></div>
            <div class="panel-body">

                <a href="#" data-toggle="modal" data-target="#addBudget" id="add-budget">Add Budget</a>

        <!-- MODAL -->
        <div class="modal fade" id="addBudget" tabindex="-1" role="dialog" aria-labelledby="addBudgetModal">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addBudgetModalLabel">Add Budget</h4>
        </div>

        <div class="modal-body">

                <form action="/add-budget" method="POST" id="budget-form">
            <fieldset class="form-group">
            <label for="category">Category</label>
                 <select name="category" class="form-control" id="category-field">
                    <option value="3">Food</option>
                    <option value="2">Travel</option>
                    <option value="1">Online Purchase</option>
                    <option value="5">Clothing</option>
                    <option value="4">Groceries</option>
                    <option value="6">Entertainment</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
            <label for="price">Budget</label>
                <input type="text" class="form-control" id="budget" placeholder="Enter budget" name="budget">
            </fieldset>

        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="budget-submit">Save changes</button>
        </form>
        <script src="/static/js/submit-budget.js"></script>
      </div>
    </div>
  </div>
</div><!-- END OF MODAL -->

                <h2>Budget left:</h2>

                    <p>

                        Food: <span id="budget-left-3">{{ food_budget_minus_expenses }}</span><br>
                        Travel: <span id="budget-left-2">{{ travel_budget_minus_expenses }}</span><br>
                        Clothing: <span id="budget-left-5">{{ clothing_budget_minus_expenses }}</span><br>
                        Entertainment: <span id="budget-left-6">{{ entertainment_budget_minus_expenses }}</span><br>
                        Online purchases: <span id="budget-left-1">{{ online_budget_minus_expenses }}</span><br>
                        Groceries: <span id="budget-left-4">{{ groceries_budget_minus_expenses }}</span><br>

                    </p>

                    <p>
                        Total spent: {{ total_price }}
                    </p>

                <p>
                    <h2>Budget:</h2>
                </p>

                    <p>
                    <!-- BUDGET PER CATEGORY FIX ME-->

                    <!-- Food: <span id="budget-3">{{ food_budget_minus_expenses }}</span><br>
                    Travel: <span id="budget-2">{{ travel_budget_minus_expenses }}</span><br>
                    Clothing: <span id="budget-5">{{ clothing_budget_minus_expenses }}</span><br>
                    Entertainment: <span id="budget-6">{{ entertainment_budget_minus_expenses }}</span><br>
                    Online purchases: <span id="budget-1">{{ online_budget_minus_expenses }}</span><br>
                    Groceries: <span id="budget-4">{{ groceries_budget_minus_expenses }}</span><br> -->

                    </p>

                <p>

                <div id="budget-div">
                    {% for budget in budget %}
                        <form action="/remove-budget/{{ budget.id }}" method="POST" id="category-{{budget.category_id}}">

                            <li>
                                {{ budget.budget }}<br>
                                {{ budget.category.category }}<br>
                            </li>
                                <input type="Submit" value="Remove">
                        </form>

                    {% endfor %}

                </div>
            </div>
        </div><!-- END BUDGET PANEL -->

    </div><!-- end the second column div -->


    <!-- Budget section -->

    <div class="col-md-4"><!-- OPEN THIRD PANEL DIV -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Expenditures</h3>
            </div>
            <div class="panel-body">

<a href="#" data-toggle="modal" data-target="#addExpenditureModal">Add Expenditure</a>

<!-- Modal -->
<div class="modal fade" id="addExpenditureModal" tabindex="-1" role="dialog" aria-labelledby="addExpenditureModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addExpenditure">Add New Expenditure</h4>
      </div>
      <div class="modal-body">

        <!-- START THE FORM -->
        <form action="/add-expenditure-to-db" method="POST" id="expenditure-form">
            <fieldset class="form-group">
            <label for="category">Category</label>
                 <select name="category" class="form-control" id="category-field">
                    <option value="3">Food</option>
                    <option value="2">Travel</option>
                    <option value="1">Online Purchase</option>
                    <option value="5">Clothing</option>
                    <option value="4">Groceries</option>
                    <option value="6">Entertainment</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
            <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
            </fieldset>
            <fieldset class="form-group">
            <label for="where-bought">Where was this purchase?</label>
                <input type="text" class="form-control" id="wherebought" name="wherebought">
            </fieldset>
            <fieldset class="form-group">
            <label for="date">Date</label>
                <input type="date" class="form-control" id="date" name="date">
            </fieldset>
            <fieldset class="form-group">
            <label for="tracking-num">Tracking Number (Optional)</label>
                <input type="text" class="form-control" id="tracking-num" name="tracking-num">
            </fieldset>
            <fieldset class="form-group">
            <label for="tracking-num-carrier">Carrier (Optional)</label>
                <input type="text" class="form-control" id="tracking-num-carrier" name="carrier">
            </fieldset>
            <fieldset class="form-group">
            <label for="where-bought">Description:</label>
                <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            </fieldset>

            <script src="/static/js/submit-expenditure.js"></script>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </form><!-- END THE FORM -->

    </div>
    </div>
  </div>
</div><!-- END OF MODAL -->

            <!-- Expenditures div -->
            <p><h2>Expenditures:</h2>
            </p>

            <div id="expenditures-div">

              {% for expenditure in expenditures %}
              <form action="/remove-expenditure/{{ expenditure.id }}" method="POST" id="expenditure-{{expenditure.id}}">

                {{ expenditure.date_of_expenditure }}<br>
                {{ expenditure.category.category }}<br>
                {{ expenditure.price }}<br>
                {{ expenditure.where_bought }}<br>
                {{ expenditure.description }}<br>
                {{ expenditure.tracking_num }}

                    <input type="Submit" value="Remove">
                </form>

                {% if expenditure.tracking_num %}

                <form action="/tracking/{{ expenditure.tracking_num }}" method="POST" class="tracking-form">

                    <!-- Data attributes are something you can assign to any HTML
                    element and you can access the attributes within Javascript
                    using JQuery's data function -->
                    <!-- <input type="submit" value="Track Your Package" class="submit-tracking" data-trackingnum="{{expenditure.tracking_num}}" data-cats="kitties"> -->

                <button type="submit" class="submit-tracking" data-toggle="modal" data-target="#trackingModal" data-trackingnum="{{expenditure.tracking_num}}">
                Track Your Package
                </button>

                <!-- Modal -->
                <div class="modal fade" id="trackingModal" tabindex="-1" role="dialog" aria-labelledby="trackingModalLabel">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="packageTrackModalLabel">Track Your Package</h4>
                    </div>
                    <div class="modal-body">

                        <div id="map"></div><!-- MAP DIV -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                    </div>
                    </div>
                </div>
                <!-- <form action="/tracking/{{ expenditure.tracking_num }}" method="POST" class="tracking-form"> -->
                    <!-- Data attributes are something you can assign to any HTML
                    element and you can access the attributes within Javascript
                    using JQuery's data function -->
                    <!-- <input type="submit" value="Track Your Package" class="submit-tracking" data-trackingnum="{{expenditure.tracking_num}}" data-cats="kitties">
                    <br>
                </form> -->
                {% endif %}

              {% endfor %}
            </div>


            </div><!-- END THE THIRD PANEL DIV -->
        </div><!-- END OF THIRD DIV -->

    </div>


</div><!-- END THE CONTAINER DIV -->

<!-- JS stuff -->
<script src="/static/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnuRecqKx9vRHOa2X6OeYloFTevfJ9GkA&callback=initMap" async defer></script>
<script src="/static/js/charts.js"></script>


{% endblock %}