{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

Edit Profile<p>

    <p>
        Your email: {{user.email}}
        <br>
        Your password: {{user.password}}
    </p>

</p>

<form action="/profile-edit" method="POST">
    <input type="text" id="name" placeholder="Edit your name" name="name"><p>
    <input type="submit" value="Update Info">
</form>

<form action="/profile-edit" method="POST">
    <input type="text" id="password" placeholder="Edit your password" name="password"><p>
    <input type="submit" value="Update Info">
</form>

{% endblock %}