{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h2>Input Expenditures</h2>

    <form action="/add-expenditure-to-db" method="POST">
    Category: 
      <select name="category">
    <option value="Food">Food</option>
    <option value="Travel">Travel</option>
    <option value="Online Purchase">Online Purchase</option>
    <option value="Clothing">Clothing</option>
    <option value="Groceries">Groceries</option>
      </select>
    <p><input type="text" id="price" placeholder="Price" name="price"><br>
    <br><input type="date" id="date" placeholder="Date of purchase" name="date"><br>
    <br><input type="text" id="wherebought" placeholder="Where was this purchased?" name="wherebought"><br>
    <br><input type="text" id="description" placeholder="Describe your purchase" name="description"><p>

    <input type="submit" value="Submit">
    </form>


{% endblock %}