{% extends 'base.html' %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h2>Sign Up</h2>

    <form action="/sign-up" method="POST">
        <input type="text" id="name" placeholder="Name" name="name">
        <input type="text" id="email" placeholder="Email" name="email">
        <input type="password" id="password" placeholder="password" name="password">
        <input type="submit" value="Sign Up">
    </form>


{% endblock %}